<p id="notice"><%= notice %></p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Week:</strong>
  <%= @team.week %>
</p>

<p>
  <strong>Qb total yards:</strong>
  <%= @team.qb_total_yards %>
</p>

<p>
  <strong>Qb total completes:</strong>
  <%= @team.qb_total_completes %>
</p>

<p>
  <strong>Qb total attempts:</strong>
  <%= @team.qb_total_attempts %>
</p>

<p>
  <strong>Qb total touchdowns:</strong>
  <%= @team.qb_total_touchdowns %>
</p>

<p>
  <strong>Qb total fumbles:</strong>
  <%= @team.qb_total_fumbles %>
</p>

<p>
  <strong>Qb total interceptions:</strong>
  <%= @team.qb_total_interceptions %>
</p>

<p>
  <strong>Rb total yards:</strong>
  <%= @team.rb_total_yards %>
</p>

<p>
  <strong>Rb total receptions:</strong>
  <%= @team.rb_total_receptions %>
</p>

<p>
  <strong>Rb total touchdowns:</strong>
  <%= @team.rb_total_touchdowns %>
</p>

<p>
  <strong>Wr total yards:</strong>
  <%= @team.wr_total_yards %>
</p>

<p>
  <strong>Wr total receptions:</strong>
  <%= @team.wr_total_receptions %>
</p>

<p>
  <strong>Wr total touchdowns:</strong>
  <%= @team.wr_total_touchdowns %>
</p>

<p>
  <strong>Te total yards:</strong>
  <%= @team.te_total_yards %>
</p>

<p>
  <strong>Te total receptions:</strong>
  <%= @team.te_total_receptions %>
</p>

<p>
  <strong>Te total touchdowns:</strong>
  <%= @team.te_total_touchdowns %>
</p>

<p>
  <strong>Kicker total points:</strong>
  <%= @team.kicker_total_points %>
</p>

<p>
  <strong>Def total sacks:</strong>
  <%= @team.def_total_sacks %>
</p>

<p>
  <strong>Def total tackles:</strong>
  <%= @team.def_total_tackles %>
</p>

<p>
  <strong>Def total interceptions:</strong>
  <%= @team.def_total_interceptions %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
