<p id="notice"><%= notice %></p>

<p>
  <strong>Player name:</strong>
  <%= @kicker.player_name %>
</p>

<p>
  <strong>Week:</strong>
  <%= @kicker.week %>
</p>

<p>
  <strong>Kicks made:</strong>
  <%= @kicker.kicks_made %>
</p>

<p>
  <strong>Kicks attempted:</strong>
  <%= @kicker.kicks_attempted %>
</p>

<%= link_to 'Edit', edit_kicker_path(@kicker) %> |
<%= link_to 'Back', kickers_path %>
